@mixin submitBtn{
  display: block;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #008CBA;
  padding: 15px 32px;
  text-decoration: none;
  text-shadow: none;
  text-transform: capitalize;
  cursor: pointer;
  padding:10px;  
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .user-import-ajax-loader {
      border: 16px solid #FF0909;
      border-radius: 50%;
      border-top: 16px solid #0062FF;
      width: 60px!important;
      height: 60px!important;
      -webkit-animation: spin 2s linear infinite;
      display: block;
      margin: auto;
      animation: spin 2s linear infinite;
  }
  
  #subordinate-import-form {
    background: white;
    padding: 20px 20px 10px 20px;
    input[type="submit"]{
      @include submitBtn();
        
    }
    input[type="submit"]:hover{
        background: red;
    }
  }
  #emulate-team-leader-form {
    text-align: center;
  }
  .emulation-form{
    max-width: 850px;
    margin: 150px auto;
    background: white;
    padding: 20px;
    h2{
        font-size: 25px;
        text-align: center;
    }
    select{
      font-size: 20px;
      line-height: 2;
      color: #2c3338;
      border-color: #8c8f94;
      box-shadow: none;
      border-radius: 3px;
      padding: 0 24px 0 8px;
      min-height: 30px;
      width: 100%;
      min-width: 200px;
      text-align: center;
      -webkit-appearance: none;
      cursor: pointer;
      vertical-align: middle;
    } 
    input[type="submit"]{
      @include submitBtn();
      margin:10px auto 10px auto;
    }
    input[type="submit"]:hover{
        background: red;
    }
   
  }
  .instructional-container{
    background: white;
    padding: 10px 20px 20px 20px;
  }
  .user-upload-results-contain{
    background: white;
    padding: 20px 20px 10px 20px;
  }
  .wp-die-message p {
    background: white;
    padding: 20px 20px 10px 20px;
    max-width: 500px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: black;
    text-decoration: underline;
  }