@mixin submitBtn{
    display: block;
    font-size: 16x;
    border: none;
    color: white;
    background-color: #008CBA;
    padding: 15px 32px;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
    cursor: pointer;
    padding:10px;  
 }
.site-admin-msg {
    font-size: 30px;
    color: red;
}
table {
    font-family: arial, sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.user-import-ajax-loader {
    border: 16px solid #FF0909;
    border-radius: 50%;
    border-top: 16px solid #0062FF;
    width: 60px!important;
    height: 60px!important;
    -webkit-animation: spin 2s linear infinite;
    display: block;
    margin: auto;
    animation: spin 2s linear infinite;
}
.emulation-title{
    font-size: 30px;
    text-align: center;
}
#team-leader-form {
    input[type="submit"] {
        @include submitBtn();
        margin: 10px 0 0 0;
    }
    input[type="submit"]:hover{
        background: red;
    }    
  }

#emulate-team-leader-form {
    text-align: center;
}
.emulation-form{
    max-width: 850px;
    margin: 150px auto;
    background: white;
    padding: 20px;
    h2{
        text-align: center;
    }
    select{
        font-size: 20px;
        line-height: 2;
        color: #2c3338;
        border-color: #8c8f94;
        box-shadow: none;
        border-radius: 3px;
        padding: 0 24px 0 8px;
        min-height: 30px;
        width: 100%;
        min-width: 200px;
        text-align: center;
        -webkit-appearance: none;
        cursor: pointer;
        vertical-align: middle;
      } 
      input[type="submit"]{
        @include submitBtn();
        margin:10px auto 10px auto;
      }
    input[type="submit"]:hover{
        background: red;
    }        
}
.user-deletion-password-contain {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    p{
        text-decoration:underline;
        margin:0 0 5px 0;
    }
}
.refresh-btn{
  background: #2271b1;
  border-color: black;
  border-width: 2px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  text-transform: capitalize;
  cursor: pointer;
  margin: 20px 0 0 0;
  :hover{
    background: red;
  }
}
.wp-die-message p {
    background: white;
    padding: 20px 20px 10px 20px;
    max-width: 500px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: black;
    text-decoration: underline;
}