.site-admin-msg {
    font-size: 30px;
    color: red;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .awc-ajax-loader {
      border: 16px solid #FF0909;
      border-radius: 50%;
      border-top: 16px solid #0062FF;
      width: 60px!important;
      height: 60px!important;
      -webkit-animation: spin 2s linear infinite;
      display: block;
      margin: auto;
      animation: spin 2s linear infinite;
  }