/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.user-import-ajax-loader {
    border: 16px solid #FF0909;
    border-radius: 50%;
    border-top: 16px solid #0062FF;
    width: 60px!important;
    height: 60px!important;
    -webkit-animation: spin 2s linear infinite;
    display: block;
    margin: auto;
    animation: spin 2s linear infinite;
}

#subordinate-import-form {
  background: white;
  padding: 20px 20px 10px 20px;
}
#subordinate-import-form input[type="submit"]{
  background: #2271b1;
  border-color: black;
  border-width: 2px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  text-transform: capitalize;
  cursor: pointer;
  
}
#subordinate-import-form input[type="submit"]:hover{
  background: red;
}

.instructional-container{
  background: white;
  padding: 10px 20px 20px 20px;
}
.user-upload-results-contain{
  background: white;
  padding: 20px 20px 10px 20px;
}